body,
html {
    height: 100%;
    background-image: url("img/2.png");
}

body {
    font-family: "Patrick Hand", cursive;
    margin: 0px;
    background-color: #0a2579;
    color: #ee62e9;
}

h1,
p,
li {
    text-shadow: 2px 2px 2px #4a4a4a;
}

h1 {
    font-size: 45px;
}

ol {
    font-size: 35px;
    padding-left: 500px;
    padding-right: 500px;
}

.list1 {
    color: #309edd;
}

.cover {
    background-color: #5830ddbc;
}

.widget {
    border: 10px inset #095376;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;
    background-color: #b932b4;
    color: #96d1f4;
    display: inline-block;
    vertical-align: top;
}

.labs-widget {
    color: red;
    background-color: #4a4a4a;
    border: 10px inset #095376;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;

    display: inline-block;
    vertical-align: top;
}

.git-widget {
    color: #ff8800;
    background-color: #4a4a4a;
    border: 10px inset #095376;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;

    display: inline-block;
    vertical-align: top;
}

.nav_ul {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #210445;
    border: 2px inset #b8dd30;
}

.nav_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_ul li a:hover {
    background-color: #ee62e9;
}

.nav_ul li {
    float: left;
}

nav {
    color: #309edd;
}

#logoImage {
    position: absolute;
    transition: 1s ease-in-out;
    opacity: 0;
}

footer {
    background-color: blueviolet;
    border: 5px inset #b8dd30;
}

.visible {
    opacity: 1;
}

.parallax {
    /* The image used */
    background-image: url("img/2.png");

    /* Full height */
    height: fit-content;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact-logo {
    padding: 5px;
    height: 30px;
}

.contact-text {
    font-size: 25px;
}

.contact-text:hover {
    font-size: 30px;
    transition: ease;
    transition-duration: 0.3s;
}